.sticky-left {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.result-container {
  width: 100vw;
}

.flex-row {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-window {
  width: 35vw;
  height: 2vw;
  border-radius: 1vw;
  border: 4px solid black;
}

.search-result {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

.search-result {
  width: 100vw;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 2vw;
}

.article-link {
  font-weight: bold;
  color: black;
}

.position-center {
  position: fixed;
  top: 3vw;
  left: 15vw;
}


.search-button:hover {
  cursor: pointer;
}

.article-link:hover {
  cursor: pointer;
}

