.all-articles-page {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 2vw;
}

.article-link {
  font-weight: bold;
  color: black;
}

.delete-button, .change-button {
  width: 5vw;
  height: 1.5vw;
  background: black;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}

.article-link:hover {
  cursor: pointer;
}

.delete-button:hover, .change-button:hover {
  cursor: pointer;
}
